.read_body_component {
    width: 50%;
    background-color: #ffffff;
    opacity: 90%;
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    padding: 1%;
    position: relative;
    margin-bottom: 5%;
    
  }
  
  .image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .centered-image {
    max-width: 100%;
    max-height: 75%;
  }
  
  /* 아래의 CSS는 자식 요소에 따라 부모 요소의 높이를 자동으로 조절합니다. */
  .read_body_component.auto-height {
    height: auto;
  }
  
  .read_body_component.auto-height > * {
    flex-shrink: 0; /* 자식 요소가 부모 요소의 높이를 줄이지 않도록 설정합니다. */
  }